In [1]:
# Dictionary
# -Indexing
# -Multiple and duplicate values
# -Ordered
# -Mutable

In [2]:
# d = {}
# a = {<key>:<value>,<key>:<value>,...}

In [7]:
a = {'a':'apple','b':'Ball','c':'cat'}
print(type(a))
print(a['a'])
print(a['b'])
print(a['c'])

<class 'dict'>
apple
Ball
cat

In [8]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
print(a)

{'a': 'apple', 'b': 'Ball', 'c': 'cat', 'A': 'apple'}

In [10]:
a = {'a':'apple','b':'Ball','c':'cat','a':'apple'}
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [11]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
print(a)

{'a': 'apple', 'b': 'Ball', 'c': 'cat', 'A': 'apple'}

In [ ]:
# No + and *

In [12]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
for i in a:
    print(i)

a
b
c
A

In [13]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
for i in a.values():
    print(i)

apple
Ball
cat
apple

In [14]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
a.values()

dict_values(['apple', 'Ball', 'cat', 'apple'])

In [15]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
for i in a.items():
    print(i)

('a', 'apple')
('b', 'Ball')
('c', 'cat')
('A', 'apple')

In [17]:
l = []
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
for i in a.items():
    l.append(i)
print(l)
print(dict(l))

[('a', 'apple'), ('b', 'Ball'), ('c', 'cat'), ('A', 'apple')]
{'a': 'apple', 'b': 'Ball', 'c': 'cat', 'A': 'apple'}

In [20]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [22]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
a['a'] = 'apple'
a

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [1]:
data = {}
n = int(input("Enput n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    data[phone] = name

print(data)

Enput n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808667654
{9808778765: 'Ram', 9808667654: 'Shyam'}

In [3]:
l = []
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
for i in a.items():
    l.append(list(i))
l[0][0] = 'A'
print(dict(l))

{'A': 'apple', 'b': 'Ball', 'c': 'cat'}

In [ ]:
# input
# read
# update
# del

In [12]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
list(a)

['a', 'b', 'c', 'A']

In [11]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
list(a.values())

['apple', 'Ball', 'cat', 'apple']

In [13]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
list(a.items())

[('a', 'apple'), ('b', 'Ball'), ('c', 'cat'), ('A', 'apple')]

In [6]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
del a['a']
a

{'b': 'Ball', 'c': 'cat', 'A': 'apple'}

In [8]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}
b = a.pop('a')
print(a)
print(b)

{'b': 'Ball', 'c': 'cat', 'A': 'apple'}
apple

In [14]:
# list inside dictionary
d = {'Ram':[9845667898,9808778765],
    'Sita':[9867889876,9808667653],
    'Hari':[9845667643,9808778765]}
type(d)

dict

In [15]:
data = {}
n = int(input("Enput n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone no = "))
    ncell_phone = int(input("Enter ncell phone no = "))
    data[name] = [ntc_phone,ncell_phone]

print(data)

Enput n = 2
Enter name = ram
Enter ntc phone no = 9845667654
Enter ncell phone no = 9808778765
Enter name = Shyam
Enter ntc phone no = 9845667654
Enter ncell phone no = 9808667654
{'ram': [9845667654, 9808778765], 'Shyam': [9845667654, 9808667654]}

In [18]:
data = {'ram': [9845667654, 9808778765], 'Shyam': [9845667654, 9808667654]}
print(data['ram'])
print(data['ram'][0])

[9845667654, 9808778765]
9845667654

In [19]:
data['ram'][0] = 9840000000
data

{'ram': [9840000000, 9808778765], 'Shyam': [9845667654, 9808667654]}

In [20]:
del data['ram'][0]
data

{'ram': [9808778765], 'Shyam': [9845667654, 9808667654]}

In [22]:
data = {'name':['Ram','Shyam','Hari'],
        'age':[56,78,65],
        'add':['Kathmandu','Bhaktapur','Lalitpur']}
data

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [56, 78, 65],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [23]:
data = {'name':[],'age':[],'add':[]}
n = int(input("Enput n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data['name'].append(name)
    data['age'].append(age)
    data['add'].append(add)
print(data)

Enput n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = kathmandu
{'name': ['Ram', 'Shyam'], 'age': [89, 78], 'add': ['Kathmandu', 'kathmandu']}

In [25]:
print(data['name'][0],data['age'][0],data['add'][0])

Ram 89 Kathmandu

In [26]:
del data['name'][0]
del data['age'][0]
del data['add'][0]
data

{'name': ['Shyam'], 'age': [78], 'add': ['kathmandu']}

In [ ]:
# data = [{'name':'Ram','age':67,'add':'Kathmandu'},
#        {'name':'Rama','age':56,'add':'Kathmandu'}
#        {'name':'Shyam','age':57,'add':'Bhaktapur'}]
# WAP for CRUD operation

In [1]:
data = []
n = int(input("Entre n = "))
for i in range(n):
    name = input("Enter name = ")
    age  = int(input("Enter age = "))
    add = input("Enter add = ")
    info = {'name':name,'age':age,'add':add}
    data.append(info)
    
print(data)

Entre n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 56
Enter add = Bhaktapur
[{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 56, 'add': 'Bhaktapur'}]

In [2]:
data.append({'name': 'Rama', 'age': 38, 'add': 'Kathmandu'})
data

[{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 56, 'add': 'Bhaktapur'},
 {'name': 'Rama', 'age': 38, 'add': 'Kathmandu'}]

In [5]:
data[0]

{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}

In [6]:
data[1]['name'] = "Rama"
data

[{'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 56, 'add': 'Bhaktapur'},
 {'name': 'Rama', 'age': 38, 'add': 'Kathmandu'}]

In [7]:
del data[2]['add']
data

[{'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 56, 'add': 'Bhaktapur'},
 {'name': 'Rama', 'age': 38}]

In [8]:
# dict inside dict
data = {1:{'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
       2:{'name': 'Shyam', 'age': 56, 'add': 'Bhaktapur'},
       3:{'name': 'Rama', 'age': 38, 'add': 'Kathmandu'}}
print(data)

{1: {'name': 'Rama', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 56, 'add': 'Bhaktapur'}, 3: {'name': 'Rama', 'age': 38, 'add': 'Kathmandu'}}

In [9]:
data = {}
n = int(input("Entre n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age  = int(input("Enter age = "))
    add = input("Enter add = ")
    info = {'name':name,'age':age,'add':add}
    data[i] = info
    
print(data)

Entre n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Bhaktapur
{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 78, 'add': 'Bhaktapur'}}

In [11]:
data[3] = {'name': 'Rama', 'age': 48, 'add': 'Kathmandu'}
data

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 78, 'add': 'Bhaktapur'},
 3: {'name': 'Rama', 'age': 48, 'add': 'Kathmandu'}}

In [23]:
# Adding new key
data = {1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
     2: {'name': 'Shyam', 'age': 78, 'add': 'Bhaktapur'},
     3: {'name': 'Rama', 'age': 48, 'add': 'Kathmandu'}}
data[1]['phone'] = 9808778765
data

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu', 'phone': 9808778765},
 2: {'name': 'Shyam', 'age': 78, 'add': 'Bhaktapur'},
 3: {'name': 'Rama', 'age': 48, 'add': 'Kathmandu'}}

In [24]:
# Adding new key
data = {1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
     2: {'name': 'Shyam', 'age': 78, 'add': 'Bhaktapur'},
     3: {'name': 'Rama', 'age': 48, 'add': 'Kathmandu'}}
for i in data:
    phone = input(f"Enter phone {data[i]['name']}")
    data[i]['phone'] = phone

Enter phone Ram9808778765
Enter phone Shyam9808667543
Enter phone Rama9856556543

In [25]:
data

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu', 'phone': '9808778765'},
 2: {'name': 'Shyam', 'age': 78, 'add': 'Bhaktapur', 'phone': '9808667543'},
 3: {'name': 'Rama', 'age': 48, 'add': 'Kathmandu', 'phone': '9856556543'}}

In [13]:
data[1]['name'] = 'Rama'
data

{1: {'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 78, 'add': 'Bhaktapur'},
 3: {'name': 'Rama', 'age': 48, 'add': 'Kathmandu'}}

In [15]:
data = {"Ram":[9808667876,9808778765]}
data

{'Ram': [9808667876, 9808778765]}

In [20]:
data = {("Ram","Shyam"):9808778765}
data

{('Ram', 'Shyam'): 9808778765}

In [19]:
data[('Ram', 'Shyam')]

9808778765