In [1]:

# file = open('<file_name>','<mode>')
# file.close()

In [2]:
# modes
# read -> r
# write -> w
# append -> a
# create -> x

In [6]:
try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file is already there!")

The file is already there!

In [9]:
file = open('data.txt','r')
data = file.read()
print(data)
file.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
6. Hello World
7. Hello World
8. Hello World

In [10]:
pwd

'C:\\Users\\Aayush\\PythonClass8am'

In [12]:
data.split('\n')

['1. Hello World',
 '2. Hello World',
 '3. Hello World',
 '4. Hello World',
 '5. Hello World',
 '6. Hello World',
 '7. Hello World',
 '8. Hello World']

In [13]:
x  = data.split('\n')[0]
x

'1. Hello World'

In [16]:
file = open('datas.txt','w')
file.write('Hello World')
file.close()

In [17]:
s = str()
i = 0
all_total = 0
c = int(input("Enter c = "))
while i<c:
    name = input("Enter product name = ")
    price  = int(input("Enter price = "))
    quantity  = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total + total
    s = s + f"{name} {price} {quantity} {total}\n"
    i = i+1
print(s)
print("All total = ",all_total)

file = open('datas.txt','w')
file.write(s)
file.close()

Enter c = 2
Enter product name = Apple
Enter price = 1000
Enter quantity = 2
Enter product name = Banana
Enter price = 200
Enter quantity = 4
Apple 1000 2 2000
Banana 200 4 800

All total =  2800

In [5]:
import datetime
x = datetime.datetime.now()

date= x.strftime("%c")
s = str()
i = 0
all_total = 0
c = int(input("Enter c = "))
file_name = str(date).replace('/',' ')

while i<c:
    name = input("Enter product name = ")
    price  = int(input("Enter price = "))
    quantity  = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total + total
    s = s + f"{name} {price} {quantity} {total}\n"
    i = i+1
print(s)
print("All total = ",all_total)

file = open(f'''{file_name}.txt''','w')
file.write(s)
file.close()

Enter c = 2
Enter product name = Apple
Enter price = 200
Enter quantity = 4
Enter product name = Banana
Enter price = 100
Enter quantity = 2
Apple 200 4 800
Banana 100 2 200

All total =  1000

OSError: [Errno 22] Invalid argument: 'Thu Dec  1 08:58:38 2022.txt'

In [7]:
import datetime
x = datetime.datetime.now()

date= x.strftime("%c")
s = str()
i = 0
all_total = 0
c = int(input("Enter c = "))
file_name = str(date).replace(':','_')

while i<c:
    name = input("Enter product name = ")
    price  = int(input("Enter price = "))
    quantity  = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total + total
    s = s + f"{name},{price},{quantity},{total}\n"
    i = i+1
print(s)
print("All total = ",all_total)

file = open(f'''{file_name}.csv''','w')
file.write('Name,Price,Quantity,Total\n')
file.write(s)
file.close()

Enter c = 2
Enter product name = Momo
Enter price = 200
Enter quantity = 2
Enter product name = Coke
Enter price = 100
Enter quantity = 2
Momo,200,2,400
Coke,100,2,200

All total =  600

In [17]:
import datetime
x = datetime.datetime.now()
date= x.strftime("%x")
file_name = str(date).replace('/','_')
file = open(f'''{file_name}.csv''','w')
file.write('Name,Price,Quantity,Total\n')
file.close()

In [18]:
file = open(f'''{file_name}.csv''','a')

s = str()
i = 0
all_total = 0
c = int(input("Enter c = "))

while i<c:
    name = input("Enter product name = ")
    price  = int(input("Enter price = "))
    quantity  = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total + total
    s = s + f"{name},{price},{quantity},{total}\n"
    i = i+1
print(s)
print("All total = ",all_total)


file.write(s)
file.close()

Enter c = 2
Enter product name = Apple
Enter price = 100
Enter quantity = 2
Enter product name = banana
Enter price = 200
Enter quantity = 3
Apple,100,2,200
banana,200,3,600

All total =  800

In [20]:
import pandas as pd
df = pd.read_csv('12_01_22.csv')
df

     Name  Price  Quantity  Total
0   Apple    100         2    200
1  banana    200         3    600