In [1]:
# pred defined
# user defined

In [2]:
# # pre defined
# # int() float() str() print() input()

# user defined
# def <function_name>():
#     <operations>
    
# <function_name>()

In [4]:
a = 10
print(10)

10

In [3]:
def hello():
    print("Hello World")
    
hello()

Hello World

In [5]:
def area():
    l = int(input("Enter l = "))      #local variable
    b = int(input("Enter b = "))      #local variable
    a = l*b
    print(a)
    
area()

Enter l = 10
Enter b = 3
30

In [ ]:
l = int(input("Enter l = "))      #global variable
b = int(input("Enter b = "))      #global variable

def area():
    a = l*b
    print(a)
    
area()

In [ ]:
# function without argument and no return type
# function with argument and no return type
# function without argument and return type
# function with argument and return type

In [6]:
# function with argument and no return type
l = int(input("Enter l = "))      #global variable
b = int(input("Enter b = "))      #global variable

def area(x,y):   #parameter
    a = x*y
    print(a)
    
area(l,b)     #argument

Enter l = 10
Enter b = 5
50

In [7]:
# function with argument and no return type

def area(x,y):   #parameter
    a = x*y
    print(a)
    
l = int(input("Enter l = "))      #global variable
b = int(input("Enter b = "))      #global variable

area(l,b)     #argument

Enter l = 10
Enter b = 20
200

In [ ]:
# function with argument and no return type

def area(x,y):   #parameter
    a = x*y
    print(a)

def volume(x,y,z):  #parameter
    v = x*y*z
    print(v)
    
l = int(input("Enter l = "))      #global variable
b = int(input("Enter b = "))      #global variable
h = int(input("Enter h = "))      #global variable


area(l,b)     #argument
volume(l,b,h)  #argument

In [8]:
# return type function

In [10]:
# function without argument and return type

def hello():
    return "Hello World"

print(hello())

Hello World

In [12]:
# function without argument and return type

def area():
    l = 10
    b = 2
    a = l*b
    return a

x = area()
h = 2
print(x)
print("The volume = ",x*h)

20
The volume =  40

In [13]:
# function with argument and return type

def area(l,b):
    a = l*b
    return a

l = int(input("Enter l = "))
b = int(input("Enter b = "))
h = int(input("Enter h = "))

x = area(l,b)
print("This area = ",x)
print("The volume = ",x*h)

Enter l = 10
Enter b = 3
Enter h = 2
This area =  30
The volume =  60

In [16]:
# function with argument and return type

def cal(l,b,h):
    a = l*b
    v = a*h
    return a,v

l = int(input("Enter l = "))
b = int(input("Enter b = "))
h = int(input("Enter h = "))

x = cal(l,b,h)
area,volume = x
print("The area = ",area)
print("The volume = ",volume)

Enter l = 100
Enter b = 23
Enter h = 45
The area =  2300
The volume =  103500

In [20]:
def language(l,lan = "Python"):
    print(l,lan)
    
language(1,"C")
language(3,"C++")
language(4,"Java")
language(0)

1 C
3 C++
4 Java
0 Python

In [21]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
def cal():
    a = int(input("Enter a = "))
    b = int(input("Enter b = "))
    o = input("Enter + - * /  ")
    if o == "+":
        print(add(a,b))
    elif o == '-':
        print(sub(a,b))
    elif o == '*':
        print(mul(a,b))
    elif o == '/':
        print(div(a,b))

    else:
        print("Invalid operator ")
        
cal()

Enter a = 10
Enter b = 2
Enter + - * /  +
12

In [ ]:
def hello():
    print("Hello World")
    hello()
    
hello()

In [2]:
def hello():
    print("Hello World")
    x = input("Enter y for more print = ")
    if x == 'y':
        hello()
    
hello()

Hello World
Enter y for more calculation = y
Hello World
Enter y for more calculation = y
Hello World
Enter y for more calculation = asdas

In [3]:
def area():
    l = int(input("Enter l = "))      
    b = int(input("Enter b = "))
    a = l*b
    print(a)
    x = input("Press Enter for more calculation.")
    if x == '':
        area()
    
area()

Enter l = 100
Enter b = 10
1000
Press Enter for more calculation.
Enter l = 10
Enter b = 3
30
Press Enter for more calculation.sfsd

In [7]:
s = str()
all_total = 0
def bill():
    global s,all_total
    name = input("Enter product name = ")
    price  = int(input("Enter price = "))
    quantity  = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total + total
    s = s + f"{name} {price} {quantity} {total}\n"
    
    x = input("Press Enter for more product = ")
    if x == "":
        bill()
   
bill()
print(s)
print("All total = ",all_total)

Enter product name = Apple
Enter price = 100
Enter quantity = 3
Press Enter for more product =
Enter product name = Banana
Enter price = 100
Enter quantity = 3
Press Enter for more product = sdfdf
Apple 100 3 300
Banana 100 3 300

All total =  600

In [ ]:
def area(x):
     l,b = x
#     l = a[0]
#     b = a[1]
    a = l*b
    print(a)

l = int(input("Enter l = "))
b = int(input("Enter b = "))
x = [l,b]
area(x)

In [8]:
def info(data):
#     na = data['name']
#     ag = data['age']
    print(f"Hello World I am {data['name']}. I am {data['age']}")

name = input("Enter name = ")
age = int(input("Enter age = "))
d = {'name':name,'age':age}
info(d)

Enter name = Ram
Enter age = 78
Hello World I am Ram. I am 78

In [ ]:
def info(data):
#     na = data['name']
#     ag = data['age']
    print(f"Hello World I am {input("Enter name = ")}. I am {int(input("Enter age = "))}")


info()

In [ ]:
import mysql.connector  #importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "pythonclass8am"
)
db = database.cursor()

def read():
    db.execute("SELECT * FROM student")
    result = db.fetchall()
    print(result)
    
def insert():
    c = int(input("Enter c = "))
    for i in range(c):
        name = input("Enter name = ")
        physics = int(input("Enter physics marks = "))
        chemistry = int(input("Enter chemistry marks = "))
        math = int(input("Enter math marks = "))
        english = int(input("Enter english marks = "))
        nepali = int(input("Enter nepali marks = "))

        total = physics + chemistry + math + english + nepali
        per = total/5

        if per >= 80:
            grade = "A"
        elif per >=60:
            grade = "B"
        elif per >= 45:
            grade = "C"
        else:
            grade = "F"

        print("Your Total = ",total)
        print("Your Per = ",per)
        print("Your Grade = ",grade)

        sql = f'''INSERT INTO student ( name, physics, chemistry, math, english, nepali, total, per, grade) 
        VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}')'''
        db.execute(sql)
    database.commit()
    
def update():
    value = input("Enter value = ")
    sn = int(input("Enter sn = "))
    field_name = input("Enter field like name or grade ")
    sql = f'''UPDATE  student SET {field_name} = '{value}' WHERE sn = {sn}'''
    db.execute(sql)
    database.commit()
    
def delete():
    sn = int(input("Enter sn = "))
    sql = f'''DELETE FROM student WHERE sn = {sn}'''
    db.execute(sql)
    database.commit()
    
    

x = int(input("1 for read 2 for insert 3 for update 4 for delete"))
if x == 1:
    read()
elif x ==2:
    insert()
elif x == 3:
    update()
elif x ==4:
    delete()
else:
    print("Enter 1 - 4 value only")

In [ ]:
import mysql.connector  #importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "pythonclass8am"
)
db = database.cursor()

In [9]:
def read():
    db.execute("SELECT * FROM student")
    result = db.fetchall()
    print(result)
    
def insert():
    c = int(input("Enter c = "))
    for i in range(c):
        name = input("Enter name = ")
        physics = int(input("Enter physics marks = "))
        chemistry = int(input("Enter chemistry marks = "))
        math = int(input("Enter math marks = "))
        english = int(input("Enter english marks = "))
        nepali = int(input("Enter nepali marks = "))

        total = physics + chemistry + math + english + nepali
        per = total/5

        if per >= 80:
            grade = "A"
        elif per >=60:
            grade = "B"
        elif per >= 45:
            grade = "C"
        else:
            grade = "F"

        print("Your Total = ",total)
        print("Your Per = ",per)
        print("Your Grade = ",grade)

        sql = f'''INSERT INTO student ( name, physics, chemistry, math, english, nepali, total, per, grade) 
        VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}')'''
        db.execute(sql)
    database.commit()
    
def update():
    value = input("Enter value = ")
    sn = int(input("Enter sn = "))
    field_name = input("Enter field like name or grade ")
    sql = f'''UPDATE  student SET {field_name} = '{value}' WHERE sn = {sn}'''
    db.execute(sql)
    database.commit()
    
def delete():
    sn = int(input("Enter sn = "))
    sql = f'''DELETE FROM student WHERE sn = {sn}'''
    db.execute(sql)
    database.commit()

In [ ]:
x = int(input("1 for read 2 for insert 3 for update 4 for delete"))
if x == 1:
    read()
elif x ==2:
    insert()
elif x == 3:
    update()
elif x ==4:
    delete()
else:
    print("Enter 1 - 4 value only")

1 for read 2 for insert 3 for update 4 for delete4

In [2]:
# Math function
import math as m
m.factorial(5)

120

In [3]:
m.sin(90)

0.8939966636005579

In [5]:
m.pi

3.141592653589793

In [6]:
m.sin(m.pi/2)

1.0