In [1]:
# python collection
# -List
# -Tuple
# -Dictionary
# -Set

In [2]:
# List
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [3]:
x = list()
y = []
a = ["Apple","Ball","Cat","Dog"]
print(type(a))
print(type(x))
print(type(y))

<class 'list'>
<class 'list'>
<class 'list'>

In [9]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(a)
print(a[1])
print(a[0:3])
print(a[0:5:2])

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
Ball
['Apple', 'Ball', 'Cat']
['Apple', 'Cat', 'Fish']

In [10]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b = [2,4,5,6,2,4,6]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 2, 4, 5, 6, 2, 4, 6]

In [11]:
b = [2,4,5,6,2,4,6]
print(b*2)

[2, 4, 5, 6, 2, 4, 6, 2, 4, 5, 6, 2, 4, 6]

In [12]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    l = l+[x]
    
print(l)

Enter n = 3
Enter x = Apple
Enter x = Ball
Enter x = Cat
['Apple', 'Ball', 'Cat']

In [14]:
x = 'Apple and Ball'
x.split()

['Apple', 'and', 'Ball']

In [15]:
a = ['Apple', 'Ball', 'Cat']
for i in a:
    print(i)

Apple
Ball
Cat

In [18]:
a = ['Apple', 'Ball', 'Cat']
l = len(a)
for z in range(l):
    print(z,a[z])

0 Apple
1 Ball
2 Cat

In [1]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
    
print(l)

Enter n = 5
Enter x = 234
Enter x = 546
Enter x = 234
Enter x = 567
Enter x = 3434
[234, 546, 234, 567, 3434]

In [5]:
print("The max value of l = ",max(l))
print("The min value of l = ",min(l))
print("The sum  of l = ",sum(l))
print("The avg value of l = ",sum(l)/n)
l.sort()
print(l)
l.reverse()
print(l)

The max value of l =  3434
The min value of l =  234
The sum  of l =  5015
The avg value of l =  1003.0
[234, 234, 546, 567, 3434]
[3434, 567, 546, 234, 234]

In [6]:
a = ['Apple', 'and', 'Ball']
a.sort()
print(a)

['Apple', 'Ball', 'and']

Input data
append() insert() extend()

delete data
del remove() pop()

Update data

reading index
index()

In [7]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
a.append('Goat')
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Goat']

In [8]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    l.append(x)
    
print(l)

Enter n = 4
Enter x = aad
Enter x = sd
Enter x = sd
Enter x = fd
['aad', 'sd', 'sd', 'fd']

In [9]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
a.insert(1,'ball')
a

['Apple', 'ball', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [10]:
#Update
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
a[1] = 'ball'
a

['Apple', 'ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [14]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
b = [1,2,3,4,5]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]

In [17]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
b = [1,2,3,4,5]
a =a+b
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]

In [19]:
#del
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]
del a[0]
print(a)

['Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]

In [21]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]
del a[0:5]
print(a)

['Apple', 1, 2, 3, 4, 5]

In [22]:
#remove
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]
a.remove('Ball')
a

['Apple', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]

In [23]:
#remove
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]
a.remove('Apple')
a

['Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]

In [25]:
#remove
a = ['Apple','Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]
l = a.count('Apple')
print(l)
for i in range(l):
    a.remove('Apple')
a

2

['Ball', 'Cat', 'Dog', 'Fish', 1, 2, 3, 4, 5]

In [27]:
a = ['Apple','Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]
b = a.pop()
print(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4]
5

In [28]:
a = ['Apple','Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]
b = a.pop(1)
print(a)
print(b)

['Apple', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]
Ball

In [30]:
a = ['Apple','Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]
a.index('Apple')

0

In [36]:
a = ['Apple','Ball', 'Cat', 'Dog', 'Fish', 'Apple']
l = len(a)
for i in range(l):
    if a[i] == 'Apple':
        print(i,a[i])

0 Apple
5 Apple

In [39]:
a = ['Apple','Ball', 'Cat', 'Dog', 'Fish', 'Apple']
a[0] = a[0].lower()
a

['apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [ ]:
# List inside list

In [ ]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]

In [8]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]

print(a)
print(a[0])
print(a[0][0])
print(len(a))

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]
['Ram', 34, 'Kathmandu']
Ram
3

In [11]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
b = [['Nabin',67,'Bara']]
c = a+b
c

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 45, 'Lalitpur'],
 ['Hari', 67, 'Bhaktapur'],
 ['Nabin', 67, 'Bara']]

In [13]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info.append([name,age,add])
print(info)

Enter n = 3
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 23
Enter add = Bhaktapur
Enter name = Hari
Enter age = 67
Enter add = Bara
[['Ram', 78, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur'], ['Hari', 67, 'Bara']]

In [15]:
for i in info:
    if 'Shyam' in i:
        print(i)

['Shyam', 23, 'Bhaktapur']

In [ ]:
for i in info:
    print(i)

In [16]:
name = input("Enter name for search = ")
for i in info:
    if name in i:
        print(i)

Enter name for search = Ram
['Ram', 78, 'Kathmandu']

In [17]:
name = input("Enter name for search = ")
for i in info:
    if name.lower() in i[0].lower():
        print(i)

Enter name for search = ram
['Ram', 78, 'Kathmandu']

In [18]:
# del remove() pop()
a = [['Ram', 78, 'Kathmandu'], 
     ['Shyam', 23, 'Bhaktapur'], 
     ['Hari', 67, 'Bara']]

del a[0]
a

[['Shyam', 23, 'Bhaktapur'], ['Hari', 67, 'Bara']]

In [19]:
# del remove() pop()
a = [['Ram', 78, 'Kathmandu'], 
     ['Shyam', 23, 'Bhaktapur'], 
     ['Hari', 67, 'Bara']]

del a[0][0]
a

[[78, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur'], ['Hari', 67, 'Bara']]

In [21]:
# Update
a = [['Ram', 78, 'Kathmandu'], 
     ['Shyam', 23, 'Bhaktapur'], 
     ['Hari', 67, 'Bara']]
a[0] = ['Rama',70,'Jhapa']
a

[['Rama', 70, 'Jhapa'], ['Shyam', 23, 'Bhaktapur'], ['Hari', 67, 'Bara']]

In [22]:
# Update
a = [['Ram', 78, 'Kathmandu'], 
     ['Shyam', 23, 'Bhaktapur'], 
     ['Hari', 67, 'Bara']]
a[0:2] = [['Rama',70,'Jhapa'],['Shyama',67,'Chitwan']]
a

[['Rama', 70, 'Jhapa'], ['Shyama', 67, 'Chitwan'], ['Hari', 67, 'Bara']]

In [23]:
# Update
a = [['Ram', 78, 'Kathmandu'], 
     ['Shyam', 23, 'Bhaktapur'], 
     ['Hari', 67, 'Bara']]
a[0][0] = 'Rama'
a

[['Rama', 78, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur'], ['Hari', 67, 'Bara']]

In [24]:
a = [['Ram', 78, 'Kathmandu'], 
     ['Shyam', 23, 'Bhaktapur'], 
     ['Hari', 67, 'Bara']]
for i in a:
    if i[1]>50:
        print(i)

['Ram', 78, 'Kathmandu']
['Hari', 67, 'Bara']

In [ ]:
# WAP to create a matrix (list inside list) by takeing row and col value by users
r = 3
c = 3
x = ?
# a = [[1,2,3],
#      [4,5,6],
#      [7,8,9]]
# WAP to create a billing system with CRUD features