In [2]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(a)
print(b)
print(c)
print(a,b,c)
print(type(a),type(b),type(c))

Hello World
Hello World
Hello World
Hello World Hello World Hello World
<class 'str'> <class 'str'> <class 'str'>

In [4]:
a = 'Hello '
b = 'World'
c = a+b
print(c)

Hello World

In [5]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
name = input("Enter name = ")

Enter name = Ram

In [10]:
a = "Hello World I am Python"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
HloWr

In [14]:
a = "Hello World I am Python"
print(a[-1::-1])
print(a[::-1])

nohtyP ma I dlroW olleH
nohtyP ma I dlroW olleH

In [17]:
a = input("Enter first value = ")

if a == a[::-1]:
    print("The number is palendrome")
else:
    print("This number is not palendrome")

Enter first value = 34242343
This number is not palendrome

In [20]:
name = "Ram"
age = 23
info = "Hello World I am "+name+ " I am "+str(age)
print(info)

Hello World I am Ram I am 23

In [ ]:
# String formatting
name = "Ram"
age = 23
info = f"Hello World I am {name} I am {age}"
print(info)

In [23]:
# String formatting
# name = "Ram"
# age = 23
info = f"Hello World I am {input('Enter name')} I am {input('Enter age')}"
print(info)

Enter nameRam
Enter age34
Hello World I am Ram I am 34

In [ ]:
s = str()
i = 0
all_total = 0
c = int(input("Enter c = "))
while i<c:
    name = input("Enter product name = ")
    price  = int(input("Enter price = "))
    quantity  = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total + total
    s = s + f"{name} {price} {quantity} {total}\n"
    i = i+1
print(s)
print("All total = ",all_total)

In [24]:
s = str()
n = int(input("Enter n "))
for i in range(n):
    name = input("Enter name = ")
    s = s+f"{name} "
print(s)

Enter n 5
Enter name = Ram
Enter name = Shyam
Enter name = Hari
Enter name = Sita
Enter name = Rita
Ram Shyam Hari Sita Rita

In [25]:
print(s)

Ram Shyam Hari Sita Rita

In [28]:
name = input("Enter name = ")
if name in s:
    print("Yes")
    print(s.count(name))
else:
    print("No")

Enter name = Ram
Yes
1

In [34]:
a = "Ram Shyam Hari Sita Rita"
search = "rAm"
print(a.lower())
print(search.lower())
print(a.upper())
print(a)

ram shyam hari sita rita
ram
RAM SHYAM HARI SITA RITA
Ram Shyam Hari Sita Rita

In [38]:
a = "Ram Shyam Hari Sita Rita".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name = ram
Yes
1

In [43]:
#replace()
a = "Ram Shyam Hari Sita Rita Ram"
a = a.replace('Ram','ram')
print(a)

ram Shyam Hari Sita Rita ram

In [ ]:
#replace()
a = "Ram Shyam Hari Sita Rita Ram"
initial = input("Search name =")
final = input("Enter name for replace =")
a = a.replace(initial,final)
print(a)

In [47]:
a = "Ram Shyam Hari Sita Rita Ram"
a[0:-3]+"Rama"

'Ram Shyam Hari Sita Rita Rama'

In [50]:
#replace()

a = "Ram Shyam Hari Sita Rita Ram"
a = a.replace(input("Enter name = "),'')
print(a)

Enter name = Ram
 Shyam Hari Sita Rita

In [49]:
a = "Ram Shyam Hari Sita Rita Ram"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Rita', 'Ram']